# ===== Datos sensibles (nunca subir) =====
1Password/
BraveSoftware/
chromium/
google-chrome/
google-chrome-beta/
google-chrome-unstable/
microsoft-edge-dev/
vivaldi/
vivaldi-snapshot/
ngrok/
Postman/
opencode/
dconf/

# ===== Datos de aplicaciones (no son configs) =====
Code/
obsidian/
Typora/
LosslessCut/
Pinta/
unity3d/
aether/
elephant/
astro/
nextjs-nodejs/
cliamp/
wiremix/
mpv/
nautilus/
yay/
libreoffice/
mozilla/
pulse/
wireplumber/
ibus/
fcitx/
fcitx5/
gtk-4.0/
kdeglobals
kdenliverc
QtProject.conf
user-dirs.dirs
qalculate/
unity3d/
mise/
uv/
nvm/